@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Shantell+Sans:wght@500&display=swap');

html, body {
  background: #28AFB0;
  width: 100%;
  height: 100%;
  font-family: 'Lato';
  font-weight: 300;
}

.App {
  text-align: center;
  display: flex;  
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.App-nav {
  width: 50%;
  display: flex;
  margin: 1rem auto;
  justify-content: space-around;
}

.active-link {
  color: pink;
  border-bottom: 1px solid white;
}

a {
  font-size: 2rem;
  text-decoration: none;
  color: black;
  transition: all 0.4s ease-out;
}

a:visited {
  font-size: 2rem;
  text-decoration: none;
  color: black;
  transition: all 0.4s ease-out;
}

a:hover {
  font-size: 2.1rem;
}

.App-nav a:hover {
  /* border-bottom: 1px solid rgba(248, 187, 208, 1); */
  color: rgba(248, 187, 208, 1);
  cursor: pointer;
}

.App-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: #ef5777;
  border: 1px solid black;
}

img {
  width: 30%;
}

.Home,
.Members,
.Enroll,
.Read,
.Update {
  height: auto;
  background: white;
  border: 1px solid black;
  box-shadow: 20px 20px 0 black;
}

.jumbotron {
  background-image:url('./images/cover.jpg');
  height:800px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom:1px solid black;
}
.jumbotron .container {
  position:relative;
}

.jumbotron .statement {
  font-size: 2rem;
  font-weight: 400;
  text-shadow: 1px 1px #ffffff;
  line-height: 1.5em;
  text-align: center;
} 

h1 {
  font-family: 'Shantell Sans';
  font-size: 8rem;
  text-shadow: 2px 2px #ffffff;
  line-height: 1em;
}

.Desc {
  text-align: left;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
}
